

.paulista{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.carioca{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.mineiro{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card-body {
    text-align: center;
    text-decoration: none;
}

.login{
    display: flex;
    justify-content: center;
    

}

body {
    background-color: rgb(242, 245, 247);
}

